@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap");

// Colors
$background-color: #fafafa;
$base-color: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  main{
    width: 100%;
    height: 100vh;
    background-color: $background-color;
  }
  main.dark{
    background-color: #171823;
  }

  header {
    background-image: url(./images/bg-mobile-light.jpg);
    background-size: 100%;
    padding: 48px 26px 120px 26px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .wrapperhead{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    h1 {
      font-weight: 600;
      color: #ffffff;
    }
    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  header.dark {
    background-image: url(./images/bg-mobile-dark.jpg);
  }

  .main {
    display: flex;
    justify-content: center;
    .todoAdd {
      width: 327px;
      padding: 14px 20px;
      display: flex;
      gap: 12px;
      align-items: center;
      background-color: $base-color;
      box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
      border-radius: 5px;
      position: absolute;
      top: 108px;
      div {
        width: 20px;
        height: 20px;
        border: #d1d2da 1px solid;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 11px;
          height: 9px;
        }
      }
      input {
        color: #393a4b;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        border: none;
      }
      input.dark{
        background-color: #25273D;
        color: #767992;
      }
      input:focus {
        outline: none;
      }
      input::placeholder{
        color: #9495A5;
      }
    }
    .todoAdd.dark{
      background-color: #25273D;
      color: #767992;
    }
    .todoList {
      background-color: $base-color;
      box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
      border-radius: 5px;
      list-style-type: none;
      width: 327px;
      position: absolute;
      top: 172px;
      .liWrap{
        display: flex;
        gap: 12px;
        align-items: center;
        div{
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      li{
        padding: 16px 20px;
        border-bottom: 1px solid #E3E4F1;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #494C6B;
        .circleCheck{
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #D1D2DA;
          cursor: pointer;
        }
        .crossIcon{
          width: 12px;
          height: 12px;
          cursor: pointer;
        }
      }
      li.dark{
        border-bottom: 1px solid #393A4B;
        color: #C8CBE7;
        background-color: #25273D;
      }
      .lastLi{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #9495A5;
        border-bottom: 0;
      }
      .lastLi.dark{
        background-color: #25273D;
        color: #5B5E7E;
      }
    }
    .todoList.dark{
      box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      background-color: #25273D;
    }
  }
}
body.dark{
  background-color: #171823;
}

@media screen and (min-width: 1440px) {
  body{
    header{
      background-image: url(./images/bg-desktop-light.jpg);
      background-repeat: unset;
      background-size: unset;
      background-position: center;
      height: 300px;
      width: 100%;
      justify-content: center;
      .wrapperhead{
        width: 541px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    header.dark{
      background-image: url(./images/bg-desktop-dark.jpg);
    }

    .main{
      .todoAdd{
        width: 541px;
        top: 158px;
      }
      .todoList{
        width: 541px;
        top: 230px;
      }
    }
  }
}
